//// app global css in SCSS form
//::-webkit-scrollbar {
//  height: 12px;
//  width: 14px;
//  background: transparent;
//  z-index: 12;
//  overflow: visible;
//}
//
//::-webkit-scrollbar-thumb {
//  width: 10px;
//  background-color: #c1c1c1;
//  border-radius: 10px;
//  z-index: 12;
//  border: 4px solid rgba(0, 0, 0, 0);
//  background-clip: padding-box;
//  transition: background-color .32s ease-in-out;
//  margin: 4px;
//  min-height: 32px;
//  min-width: 32px;
//}
//
//::-webkit-scrollbar-thumb:hover {
//  background: #c1c1c1;
//}
html {
  overflow: hidden;
}

.editor-container {
  .tag-info {
    background: rgba(0, 0, 0, .6);
    color: white;
    padding: 3px;
    font-size: 10px;

    &, .q-icon {
      border-radius: 3px;
    }

    .q-icon {
      background: rgba(0, 0, 0, .2);
    }
  }
}

.body--light {
  .text-base {
    color: #1D1D1D
  }

  .text-tip {
    color: rgba($color: #000000, $alpha: 0.4)
  }

  .sticky-head {
    background-color: #fff;
  }

  .content-bg {
    background-color: rgb(249,250,251);
  }
}

.body--dark {
  .text-base {
    color: #fff
  }

  .text-tip {
    color: rgba($color: #000000, $alpha: 0.6)
  }

  .sticky-head {
    background-color: #121212;
  }

  .content-bg {
    background-color: #383838;
  }
}
